/* Reset CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::selection{
  background: #ffc83d;
  color: #000;
}
body {
  background: #121212;
  margin: 0;
  font-family:'Poppins', sans-serif;
  color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(241 245 249 / 0.03)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
}
.fireworks
{
	position: fixed;
  z-index: -1;
}
p {
    margin: 1.7em 0px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
a{
  text-decoration: none;
  color:#fff;
}
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.about {
  flex: 1;
  border-radius: 10px;
  background: rgba(30, 30, 31, 0.712);
  border: 1px solid #383838;
  padding: 20px;
  position: sticky;
  top: 0px;
  height: 100%;
}

.about-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.image {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 10%;
  background: #2b2b2c;
}
.image:hover img{
  opacity: 0;
}
.image img {
  width: 100%;
  height: 100%;
}
.about-data{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  font-size: 24px;
  margin-top: 10px;
  font-weight: bold;
}
.about-info .title{
  background: #383838;
  padding: 4px 10px;
  border-radius: 10px;
}
.title {
  font-size: 14px;
  color: #afafaf;
  margin-top: 5px;
  width: max-content;
}

.about-more {
  margin-top: 20px;
}
.about-more .info-block{
  background:#2b2b2c;
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px;
  min-width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
}
.contact-info{
  display: flex;
  flex-direction: column;
}
ion-icon.icon{
  background: #383838;
  width: 19px;
  height: 19px;
  padding: 10px;
  border-radius: 10px;
  margin-right: 2px;
  transition: .2s;
}
ion-icon.icon:hover{
  transform: scale(1.1);
}
ion-icon[name="logo-facebook"]:hover{
  background:#3b5998;
}
ion-icon[name="logo-linkedin"]:hover{
  background:#0077B5;
}
ion-icon[name="logo-instagram"]:hover{
  background:radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
ion-icon[name="logo-twitter"]:hover{
  background:#1DA1F2;
}
ion-icon[name="logo-github"]:hover{
  background:#333;
}

.details {
  display: flex;
  flex: 2;
  border-radius: 10px;
  background: 	rgba(30, 30, 31, 0.712);
  border: 1px solid #383838;
  padding: 20px;
  flex-wrap: wrap;
  flex-direction: column;
}

.details h2 {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: bold;
}

.details ul {
    margin-left: 20px;
}

.details li {
  margin-bottom: 10px;
}
.separator {
  width: 100%;
  height: 1px;
  background:#383838;
  margin: 16px 0;
}
/* Media Queries for Responsive Design */

@media screen and (max-width: 768px) {
  section {
    flex-direction: column;
  }
  
  .about,
  .details {
    width: 100%;
    position: relative;
  } 
  .details .buttons{
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
    left: 0;
    width: 100%;
    background: hsla(240, 1%, 17%, 0.75);
    backdrop-filter: blur(10px);
    border: 1px solid var(--jet);
    border-radius: 12px 12px 0 0;
    box-shadow: var(--shadow-2);
    z-index: 5;
    padding: 10px;
  }
  .tab-button
  {
    max-width: 18%;
  }
  .container {
    padding-bottom: 10vh;
}
}

/* Style for tabs */
.tab {
  display: none;
  animation: fade 0.5s;
}
.buttons{
  left: auto;
  margin-bottom: 13px;
}
/* Style for the tab buttons */
.tab-button {
  cursor: pointer;
  padding: 10px 15px;
  background-color:  #383838;
  border-radius: 10px;
  color: #fff;
  border: none;
  outline: none;
}
.tab-button:hover {
  background:#565656;
}
/* Style for the active tab button */
.active-tab {
  background-color: #333;
}

@keyframes fade {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
